.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    text-align: center;
}

#search{
    display: block;
    text-align: center;
    position: relative;
    bottom: 50px;
    height: 100px;
   
}